body{
    background-color: azure;
}

h1{
    margin: 1px;
/*    padding: 1px;*/
}

.fila_pedido{
    background: #e9f6fd;
    text-align: center;


}


.cabecera1_pedidos_cliente{
    background: #d3eefb;
    text-align: center;
}

#r_detalle_pedido{
    display: none;
}

#c_nuevo_pedido{
    display: none;
}

#cantidad_producto_nuevo_pedido, #disponible_producto_nuevo_pedido{
    width: 60px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-weight: bold; 
}

.boton_cantidad{
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    margin-right: 1px;
    margin-left: 1px;
}

.contenedor_imagen{
    width: 100%;
}

.imagen_portada{
 width: 100%;   
}


.btnOK, .btnCance{
    width: 83px;
}

.btnOk{
    margin-right: 5px;
}

.btnCancel{
    margin-left: 5px;
}



#Edicion_NombreProducto{
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: normal;
    -webkit-appearance: none;
    box-sizing: border-box;
}

#interfaz_nuevo_producto table tr td, #interfaz_nuevo_producto table th{
    text-align: center;
        vertical-align: middle;

}


#tabla_con_detalles_pedido tr td{
    vertical-align: middle
}


form{
    max-width: 500px;
    margin-left: 30px;
}